body {
  background-image: url(/public/images/bg.jpg);
}

header {
  background-color: #5dae36;
  margin-bottom: 15px;
  opacity: 100%;
}

.content-block {
  display: flex;
}

.block {
  display: block;
  background-color: rgba(235, 235, 235, .95);
}

.main-block {
  flex: 1; /* Чтобы занимал всё оставшееся место */
  margin-left: 15px;
  height: 70vh;
}

.block-header {
  margin-top: 0px;
}

.list-sidebar {
  grid-column: 0;
  opacity: 97%;
  height: 80vh; /* Full-height: remove this if you want "auto" height */
  width: 350px; /* Set the width of the sidebar */
  z-index: 1; /* Stay on top */
  /* position: fixed; */
  background-color: #ebebeb;
  backdrop-filter: blur(20px);
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 15px;
  align-content: top;
}
